<link href="~/Content/fullscreen_errors.css" rel="stylesheet" />
<div class="blue-sky">
      <div class="body-content">
        <h1 style="color: white">Sorry, that page doesn’t exist!</h1>
        <p>Thanks for noticing—we're going to fix it up and have things back to normal soon.</p>
        <form class="search-404" action="/search" method="get">
          <label for="search_q" id="search_label">Search for a topic, full name, or @@username</label>
          <input id="search_q" name="q" type="text" placeholder="Search for a topic, full name, or ">
          <input class="btn" id="search_submit" type="submit" value="Search">
        </form>
        <div class="footer">
          
          <ul class="links">
            <li class="first">© 2012 Twitter</li>
            <li><a href="/about">About</a></li>
            <li><a href="/help">Help</a></li>
          <li><a href="http://status.twitter.com/">Status</a></li>
          </ul>
        </div>
      </div>
    </div>